.journal-collection.preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
  }
  
  .journal-collection.expanded {
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    width: 50vh;
    overflow-y: auto;
    right: -5%; /* Fit against right */
  }
  
  .journal-collection-preview {
    aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
    background-size: cover;
    background-position: center;
  }  