.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding-top: 40px; /* Or adjust as needed */
  width: 100%; /* Ensure the container spans the full width */
  margin: 0; /* Reset any default margin */
}

.main-wrapper {
  flex-grow: 1; /* Allow main-wrapper to grow and fill the available space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align children to the center horizontally */
  width: 100%; /* Take the full width of the container */
}

/* Styles specific to the WebPlayback component */
.web-playback-ui {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align items to the center horizontally */
  width: fit-content; /* Only take as much width as needed */
  margin: 0; /* Reset any margin if not needed */
}

.journal-collection {
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  width: 20%; /* Or any size you want */
  padding-top: 50px;
  /* Any additional styling you want for the journal collection */
}

/* This centers the track info and playback controls underneath the album art */
.now-playing__side {
  display: flex; 
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each child */
  width: 100%; /* Take the full width of its parent to center text properly */
}

/* Center the buttons horizontally */
.btn-spotify {
  margin: 0 auto; /* center the buttons if they are block-level elements */
}

.create-new-entry-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

.create-new-entry-button {
  background-color: #1976d2;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  width: 50px; /* Adjust as needed */
  line-height: 50px; /* Adjust as needed */
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  outline: none;
}

