html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px; /* Or adjust as needed */
  margin: 0; /* Reset any default margin */
}

.main-wrapper {
  width: 100%;
  height: calc(100vh - 40px); /* Subtract the padding-top value */
  flex-grow: 1; /* Allow main-wrapper to grow and fill the available space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align children to the center horizontally */
  overflow: auto;
}

/* Styles specific to the WebPlayback component */
.web-playback-ui {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align items to the center horizontally */
  width: fit-content; /* Only take as much width as needed */
  margin: 0; /* Reset any margin if not needed */
}

.journal-collection {
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 5%; /* Adjust as needed */
  width: 15%;
  padding-top: 3%;
}

.now-playing__cover-placeholder {
  width: 25vh;
  height: 25vh;
  background-color: transparent;
}

/* This centers the track info and playback controls underneath the album art */
.now-playing__side {
  display: flex; 
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each child */
  width: 100%; /* Take the full width of its parent to center text properly */
}

/* Center the buttons horizontally */
.btn-spotify {
  margin: 0 auto; /* center the buttons if they are block-level elements */
}

.create-new-entry-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}

.create-new-entry-button {
  background-color: #1976d2;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  width: 50px; /* Adjust as needed */
  line-height: 50px; /* Adjust as needed */
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  outline: none;
}

